


  <h2>
    Details
  </h2>
  <table border="1" align='center' width="50">
    <thead>
      <tr>
        <th scope="col">
          Id
        </th>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Description
        </th>
        <th scope="col">
          Client
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proj of project">
        <td>
          {{proj.id}}
        </td>
        <td>
          {{proj.name}}
        </td>
        <td>
          {{proj.desc}}
        </td>
        <td>
          {{proj.cl}}
        </td>
      </tr>
    </tbody>
  </table>

