


  <h2>
    Details
  </h2>
  <table border="1" align='center' width="50">
    <thead>
      <tr>
        <th scope="col">
          Id
        </th>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Description
        </th>
        <th scope="col">
          Client
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project for projects">
        <td>
          {{project.id}}
        </td>
        <td>
          {{project.name}}
        </td>
        <td>
          {{project.desc}}
        </td>
        <td>
          {{project.cl}}
        </td>
      </tr>
    </tbody>
  </table>

